h1 {
    color: #000dff;
}

body {
    background-color: #ffdde4;
    font-weight: 100;
}

.card {
    background-color: aqua;
}

#sss_card {
    background-color: #2bff03;
    padding: 10px 10px;
    font-size: 100px;
}